.mdc-button{
    font-family: poppins, "Helvetica Neue", sans-serif !important; 
    font-size: 0.85rem !important;
    letter-spacing: normal !important;
    color: #000;
}

.mdc-button{
    border-radius: 5px !important;
}