<div class="sidebar">
	<div class="sidebar-header">
		<img src="asset/images/bg-Ai-counsyl-log.svg" class="optra-logo">
		<span class="title-logo">DemoName</span>
	</div>
	<div class="sidebar-body scrollbar">
		<ul id="menu">
			<!-- <li class="menu-item">
				<a href="layout.jsp?page=dashboard" class="menu-link">
					<div class="d-flex gap-2">
						<img src="images/dashboard-icon/dashboard.png">
					    <span>Dashboard</span>
					</div>
				</a>
			</li> -->
			<li class="menu-item">
				<a href="/home" class="menu-link">
					<div class="d-flex gap-2">
						<img src="images/dashboard-icon/home.png">
					    <span>Home</span>
					</div>
				</a>
			</li>
			<li class="menu-item">
				<a href="/report" class="menu-link">
				   <div class="d-flex gap-2">
				   		<img src="images/dashboard-icon/schedule.png">
					<span>report</span>
				   </div>
				</a>
			</li>
			<li class="menu-item">
				<a href="#" class="menu-link">
					<div class="d-flex gap-2">
						<img src="images/dashboard-icon/time.png"> 
						<span>Master</span>
					</div>
				</a>
			</li>
			<li class="menu-item">
				<a href="#" class="menu-link">
					<div class="d-flex gap-2">
						<img src="images/dashboard-icon/chat.png"> 
						<span>Messages</span>
					</div>
				</a>
			</li>
			<li class="menu-item">
				<a href="#" class="menu-link">
					<div class="d-flex gap-2">
						<img src="images/dashboard-icon/setting.png"> 
						<span>Settings</span>
					</div>
				</a>
			</li>
			<li class="menu-item">
				<a href="#" class="menu-link">
					<div class="d-flex gap-2">
						<img src="images/dashboard-icon/privacy.png"> 
						<span>Privacy Policy</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>