.login-wrapper {
	width:100%;
	height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-image: url("/public/images/bg-login-image.png");
     background-image: url('/images/bg-login-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.login-wrapper .optra-logo{
	width:50px;
	height:50px;
}

.login-wrapper .title-logo{
	font-size: 2rem;
    font-weight: 600;
    color: #ab4c9c;
}

.login-card {
    background-color: rgb(255 255 255 / 66%);
    color: #000;
    // padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-card  .ai-counsyle-image{
	max-width: 380px;
    width: 380px;
}

.login-card .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px 0px;
}